.FirstMain.mainItem {
    display: flex;
    flex-direction: row;
}

.first-element-header {
    padding-left: 100px;
}

.firstMain.secondItem>div {
    padding-right: 250px;
}

.firstMain.secondItem {
    justify-content: flex-end;
    margin-left: auto;
}

.firstMain {
    font-size: 25px;
}

.promo-search,
.newsletter {
    display: flex;
    flex-direction: column;
    background-color: #1d3459;
    margin: 0px 5px 10px 10px;
}

.search-line {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    width: 100%;
    margin-top: 12px;
}

.search-field,
.newsletteer-email-field {
    display: flex;
    flex-direction: column;
    width: 130px;
}

.search-field>span {
    color: white;
    font-size: 10px;
}

.search-field>input {
    height: 20px;
}

.search-field>span,
.search-field>input {
    padding-left: 10px;
}

.hr {
    height: 3px;
    background-color: black;
    margin: 15px 70px 0px 70px;
}

.prices.search-field {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.search-checkbox>label {
    color: white;
    font-size: 10px;
}

.search-element {
    height: 30px;
    margin: 20px 0px 10px 55px;
}

.search-button-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.search-button-line>label {
    margin-right: 55px;
}

.newsletter-text {
    margin: 5px 20px 0px 15px;
    color: white;
    font-size: 12px;
}

.email-line {
    display: flex;
    flex-direction: row;
}

.newsletter-email-section {
    margin: 0px 20px 10px 150px;
}

.email-line>button {
    margin-left: 30px;
    width: 70px;
    height: 20px;
}

.email-line>input {
    width: 150px;
    padding-left: 10px;
}

.newsletter-email-section>span {
    color: white;
    font-size: 10px;
    padding-left: 10px;
}